{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/plants/plant-detail.css' %}">
<script defer src="{% static 'js/plant-detail.js' %}"></script>
{% endblock %}

{% block content %}
<section class="plant-container">
  <section class="plant">
    <div class="plant-img">
      {% if plant.photo.url %}
        <img 
          src="{{plant.photo.url}}" 
          alt="A photo of {{plant.name}}" 
          class="usr-img"
        >
      {% else %}
        <img 
          src="{% static 'images/default-plant.png' %}" 
          alt="A potted plant icon"
        >
      {% endif %}
    </div>
    <h3>Change {{ plant.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add-photo' plant.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
    <div class="plant-details">
      <h1>{{ plant.name }}</h1>
      <h2>{{ plant.location }}</h2>
      <p>{{ plant.description }}</p>
    </div>
    <div class='plant-actions'>
      <a href="{% url 'plant-update' plant.id %}" class="btn warn">Edit</a>
      <a href="{% url 'plant-delete' plant.id %}" class="btn danger">Delete</a>
    </div>
  </section>
</section>
<div class="care-container">
  <section class="care">
    <div class="subsection-title">
      <img src="{% static 'images/spray.png' %}" alt="A spray bottle icon">
      <img src="{% static 'images/fertilizer.png' %}" alt="A fertilizer icon">
      <img src="{% static 'images/watering-can.png' %}" alt="A watering can icon">
    </div>
    <h3>Tend to {{ plant.name }}</h3>
    <form 
      action="{% url 'add-caring' plant.id %}" 
      method="post" 
      class="subsection-content" 
      autocomplete="off"
    >
      {% csrf_token %}
      {{ caring_form.as_p }}
      <button type="submit" class="btn submit">Add</button>
    </form>
    <h3>Past Care</h3>
    {% if plant.caring_set.all.count %}
    <div class="table">
      <table>
        <thead>
          <tr><th>Date</th><th>Care Given</th></tr>
        </thead>
        <tbody>
          {% for caring in plant.caring_set.all %}
            <tr>
              <td>{{caring.date}}</td>
              <td>{{caring.get_care_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <div class="subsection-content">
        <p>{{plant.name}} has no recorded care.</p>
      </div>
    {% endif %}
  </section>
</div>
{% endblock %}