{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<h2>About Plant Partner</h2>
<hr />
<h1>The Forgetful Gardener's Best Friend</h1>
<p class="page-content">
  Plant Partner is an app for people who struggle to keep plants alive. If you lack a green thumb, this is the app for you.
  <br/>
  <br/>
  Plant Partner makes it simple to know when you last completed basic houseplant care tasks. Gone are the days of wondering if you watered the plants last week- or was it the week before? If you wish could keep plants in your home without neglecting them to death, use Plant Partner to keep you and your plants happy!
</p>
<div class="logo">
  <img src="{% static 'images/plant-partner-logo.png' %}" alt="The Plant Partner Logo">
</div>
{% endblock %}