{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/home.css'%}">
{% endblock %}

{% block content %}
<section class="logo-container">
  <div class="plant-container">
    <img src="{% static 'images/plant-partner-logo.png' %}" alt="The Plant Partner Logo">
  </div>
</section>
{% if not user.is_authenticated %}
<section>
  <form 
    action="{% url 'home' %}" 
    method="post" 
    class="login" 
    autocomplete="off"
  >
    <h2>Log In</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Log In</button>
  </form>
</section>
{% endif %}
{% endblock%}