body {
  color: rgb(254, 249, 254);
  background-color:rgb(31,120,75);
}

h1 {
  font-family: var(--title-font);
  font-size: var(--font-xxl);
  margin: 12px;
  padding-top: 8px;
}

.page-content {
  font-size: 18px;
  letter-spacing: 1.2px;
  margin: 0 12px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  max-width: 50%;
}

@media only screen and (min-width: 768px) {
  img {
    max-width: 40%;
  }

  h1 {
    font-size: var(--font-xtreme);
  }
}