.no-plants {
  color: rgb(254, 249, 254);
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: var(--nav-bg);
  width: 250px;
  margin: 10px;
  border: var(--borders);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card-content {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img-container {
  margin: 10px 0;
}

.usr-img {
  width: 100%;
  max-width: 200px;
  border-radius: var(--card-border-radius);
}

.card-title {
  font-family: var(--title-font);
  text-align: center;
  margin: 4px 0;
}

.card-content > p {
  text-align: center;
  font-size: 16px;
}

.card :hover {
  background-color: rgba(254, 249, 254, 0.58);
}